<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons> -->
    <ion-title>Editar Foto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="photo-container">
    <img [src]="photo" alt="Foto tomada">
  </div>
  <div class="actions">
    <ion-button expand="block" color="primary" (click)="savePhoto()">Guardar</ion-button>
    <ion-button expand="block" color="secondary" (click)="discardPhoto()">Descartar</ion-button>
  </div>
</ion-content>
