.profile-header {
    padding: 16px 8px;
    display: flex;
    align-items: center;
    // background-color: var(--ion-color-light);
    border-bottom: 1px solid var(--ion-color-medium);
}

.avatar-lg {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--ion-color-primary);
}

.profile-stats {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .stats-number {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    .stats-label {
        font-size: 13px;
        color: var(--ion-color-medium);
        text-align: center;
    }
}

.hash-tag {
    color: var(--ion-color-primary);
    text-decoration: none;
    font-weight: bold;
}

.profile-info {
    padding: 16px;
    font-size: 14px;
    line-height: 1.5;

    strong {
        font-size: 16px;
        font-weight: bold;
        display: block;
        margin-bottom: 8px;
    }
}

.post-grid {
    padding: 8px;

    ion-row {
        --ion-grid-column-padding: 2px;
    }

    .post-item {
        width: 100%;
        height: 0;
        padding-top: 100%;
        /* Mantiene una relación 1:1 */
        background-size: cover;
        background-position: center;
        border-radius: 4px;
    }
}

/* Botón de edición del perfil */
ion-button[fill="outline"] {
    --border-radius: 20px;
    --padding-start: 12px;
    --padding-end: 12px;
    --color: var(--ion-color-dark);
    --background: var(--ion-color-light);
    margin: 0 auto;
    display: block;
}

/* Segmento para alternar vistas */
ion-segment {
    --background: transparent;
    --color: var(--ion-color-medium);
    margin: 8px 0;

    ion-segment-button {
        --indicator-color: var(--ion-color-primary);
        --color-checked: var(--ion-color-primary);

        ion-icon {
            font-size: 20px;
        }
    }
}