<ion-header>
  <ion-toolbar>
    <img class="img-insta" src="assets/instagram-logo.png" alt="Instagram" />

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="send-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Historias -->
  <div class="story-list">
    <div class="scroll-horizontal">
      <div class="scroll-item" *ngFor="let story of stories">
        <ion-avatar class="avatar-md">
          <img [src]="story.avatar" [alt]="story.username">
        </ion-avatar>
        <div class="item-label">{{ story.username }}</div>
      </div>
    </div>
  </div>

  <!-- Publicaciones -->
  <div class="post-list">
    <div class="post-item" *ngFor="let post of posts">
      <!-- Encabezado de la Publicación -->
      <div class="post-header">
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
            <ion-avatar class="avatar-sm">
              <img [src]="post.avatar" [alt]="post.username">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <strong>{{ post.username }}</strong>
          </ion-col>
          <ion-col size="auto">
            <ion-icon name="ellipsis-horizontal"></ion-icon>
          </ion-col>
        </ion-row>
      </div>

      <!-- Imagen de la Publicación -->
      <div class="post-media">
        <img [src]="post.image" [alt]="'Post by ' + post.username">
      </div>

      <!-- Acciones de la Publicación -->
      <div class="post-actions">
        <ion-row>
          <ion-col>
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" (click)="viewComments(post.id)">
              <ion-icon slot="icon-only" name="chatbubble-outline" ></ion-icon>
            </ion-button>
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="send-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="auto">
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </div>

      <!-- Estadísticas -->
      <div class="post-stats">
        <strong>{{ post.likes }} likes</strong>
      </div>

      <!-- Comentarios -->
      <div class="post-comments">
        <div class="comment-item" *ngFor="let comment of post.comments.slice(0, 2)">
          <span class="username">{{ comment.username }}</span>
          {{ comment.comment }}
        </div>
        <div class="comment-expander">
          <ion-button fill="clear" (click)="viewComments(post.id)">
            Ver todos los {{ post.comments.length }} comentarios
          </ion-button>
        </div>
        
        
        
        
      </div>
    </div>
  </div>
</ion-content>
